[submodule "nativefiledialog-extended"]
	path = nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "AppImageUpdate"]
	path = AppImageUpdate
	url = https://github.com/AppImageCommunity/AppImageUpdate
	branch = 1480d2603fffa89cb810c404f9aa142c18317ca1
