[submodule "nativefiledialog-extended"]
	path = nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "regFixLongPaths"]
	path = regFixLongPaths
	url = https://github.com/Xpl0itU/regFixLongPaths
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2
