.DS_Store
*.d
*.o
*.so
gtitles.c
output/
main
*.a
out/
log.txt
db.go
WiiUDownloader.icns
/WiiUDownloader
*.syso
*.ico
*.rc
*.app
*.h3
*.tik
*.cert
*.tmd

# DELETE BEFORE SHIPPING
release-fail/

# Build artifacts
*.bin
*.exe
*.AppImage
*.AppImage.zsync
dist/
docs/

# Test & cache
test_cache/
*.cache
*_test.go
loadedlibs.txt*
app.log

# Backup files
*.backup
*.bak*
.bak2

.smoke