[submodule "nativefiledialog-extended"]
	path = lib/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "regFixLongPaths"]
	path = lib/regFixLongPaths
	url = https://github.com/Xpl0itU/regFixLongPaths
[submodule "Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2
