name: Linux
on: push

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Install Requirements
        run: |
          export DEBIAN_FRONTED=noninteractive
          sudo apt-get -qq update
          sudo apt-get install -y libgtk-3-dev libgtkmm-3.0-dev libmbedtls-dev libcurl4-openssl-dev cmake libfuse2
      - name: Install LinuxDeploy
        uses: miurahr/install-linuxdeploy-action@v1
        with:
          plugins: appimage gtk
      - name: Build
        run: |
          python3 build.py
          DEPLOY_GTK_VERSION=3 linuxdeploy-x86_64.AppImage --plugin=gtk --output=appimage --create-desktop-file --executable=build/WiiUDownloader --appdir dist --icon-file WiiUDownloader.png
          ls -la dist
      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v3
        with:
          name: WiiUDownloader-Linux
          path: dist/WiiUDownloader-*.AppImage
          if-no-files-found: warn