name: Linux
on: push

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Install Requirements
        run: |
          export DEBIAN_FRONTED=noninteractive
          sudo apt-get -qq update
          sudo apt-get install -y desktop-file-utils argagg-dev libgtk-3-dev libgtkmm-3.0-dev libmbedtls-dev libcurl4-openssl-dev cmake libfuse2 libfuse-dev libboost-all-dev nlohmann-json3-dev libgpgme-dev wget
      - name: Install LinuxDeploy
        uses: Xpl0itU/install-linuxdeploy-action@ci
        with:
          plugins: appimage gtk checkrt
      - name: Build
        run: |
          python3 build.py
          DEPLOY_GTK_VERSION=3 OUTPUT="WiiUDownloader-Linux-x86_64.AppImage" UPDATE_INFORMATION="gh-releases-zsync|Xpl0itU|WiiUDownloader|latest|WiiUDownloader-*.AppImage.zsync" linuxdeploy-x86_64.AppImage --plugin gtk --plugin checkrt --output=appimage --create-desktop-file --executable=build/WiiUDownloader --appdir dist --icon-file data/WiiUDownloader.png
      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v3
        with:
          name: WiiUDownloader-Linux
          path: WiiUDownloader-*.AppImage
          if-no-files-found: warn
      - name: Upload AppImage zsync
        uses: actions/upload-artifact@v3
        with:
          name: WiiUDownloader-Linux-zsync
          path: WiiUDownloader-*.AppImage.zsync
          if-no-files-found: warn
