name: MSYS2
on: [push, pull_request]

jobs:
  msys2-ucrt64:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          release: true
          update: true
          install: git mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-python mingw-w64-ucrt-x86_64-mbedtls mingw-w64-ucrt-x86_64-curl mingw-w64-ucrt-x86_64-gtkmm3 mingw-w64-ucrt-x86_64-cmake mingw-w64-ucrt-x86_64-make
      - name: CI-Build
        run: |
          echo 'Running in MSYS2!'
          python3 build.py
      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v3
        with:
          name: WiiUDownloader-Windows
          path: build/WiiUDownloader.exe
          if-no-files-found: warn
