name: MSYS2
on: push

jobs:
  msys2-ucrt64:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          release: true
          update: true
          install: git mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-python mingw-w64-ucrt-x86_64-mbedtls mingw-w64-ucrt-x86_64-curl mingw-w64-ucrt-x86_64-gtkmm3 mingw-w64-ucrt-x86_64-cmake mingw-w64-ucrt-x86_64-make mingw-w64-ucrt-x86_64-gtk3 mingw-w64-ucrt-x86_64-ntldd-git
      - name: Build
        run: |
          python3 build.py
          mkdir dist
          mkdir dist/lib
          mkdir dist/share
          mkdir dist/share/icons
          mkdir dist/share/glib-2.0
          mkdir dist/share/glib-2.0/schemas/
          echo 'before ntldd'
          ntldd build/WiiUDownloader.exe | grep " => .*mingw.*\.dll" -o | xargs -I{} cp -v "{}" ./dist
          echo 'after ntldd'
          cp -r /mingw64/lib/gdk-pixbuf-2.0 ./dist/lib/gdk-pixbuf-2.0
          cp -r /mingw64/share/icons/* ./dist/share/icons/
          cp /mingw64/share/glib-2.0/schemas/* dist/share/glib-2.0/schemas/
          glib-compile-schemas.exe dist/share/glib-2.0/schemas/
          cp build/WiiUDownloader.exe dist/WiiUDownloader.exe
      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v3
        with:
          name: WiiUDownloader-Windows
          path: dist/
          if-no-files-found: warn