name: MSYS2
on:
  push:
    tags:
      - "*"

permissions:
  contents: write

env:
  GOPROXY: direct

jobs:
  msys2-ucrt64:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          release: true
          update: true
          cache: true
          install: zip git mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-python mingw-w64-ucrt-x86_64-gtk3 mingw-w64-ucrt-x86_64-pkg-config mingw-w64-ucrt-x86_64-go mingw-w64-ucrt-x86_64-ntldd-git mingw-w64-ucrt-x86_64-imagemagick
      - name: Build
        run: |
          python3 grabTitles.py
          magick data/WiiUDownloader.png -define icon:auto-resize=256,128,64,48,32,16 cmd/WiiUDownloader/WiiUDownloader.ico
          windres cmd/WiiUDownloader/WiiUDownloader.rc -O coff -o cmd/WiiUDownloader/resource.syso
          go build -ldflags="-s -w -H=windowsgui" cmd/WiiUDownloader/main.go cmd/WiiUDownloader/config.go cmd/WiiUDownloader/configWindow.go cmd/WiiUDownloader/darkMode.go cmd/WiiUDownloader/initialSetupAssistant.go cmd/WiiUDownloader/mainwindow.go cmd/WiiUDownloader/progressWindow.go cmd/WiiUDownloader/queuePane.go cmd/WiiUDownloader/utils.go
      - name: Deploy WiiUDownloader
        run: |
          mkdir dist
          mkdir dist/lib
          mkdir dist/share
          mkdir dist/share/icons
          mkdir dist/share/glib-2.0
          mkdir dist/share/glib-2.0/schemas/
          for ff in $(${MSYSTEM_PREFIX}/bin/ntldd -R main.exe  | tr '\\' '/' | grep -io "$(cygpath -m ${MSYSTEM_PREFIX}).\+\.dll" | sort -u); do
            cp $(cygpath -u "$ff") dist/
          done
          cp -r /ucrt64/lib/gdk-pixbuf-2.0 ./dist/lib/gdk-pixbuf-2.0
          cp -r /ucrt64/share/icons/* ./dist/share/icons/
          cp /ucrt64/share/glib-2.0/schemas/* dist/share/glib-2.0/schemas/
          glib-compile-schemas.exe dist/share/glib-2.0/schemas/
          cp main.exe dist/WiiUDownloader.exe
          cd dist && zip -9 -r ../WiiUDownloader-Windows.zip .
      - name: Upload Windows Artifact
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: True
          makeLatest: True
          omitBody: True
          omitBodyDuringUpdate: True
          omitNameDuringUpdate: True
          artifacts: "WiiUDownloader-Windows.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
